.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    /*background: linear-gradient(45deg, #5041b2 0%, #7969e6 100%);*/
    background: #030303db;
    color: #fff;
}
.QuizWrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.QuizWrapper h1 {
    font-size: 42px;
    margin-left: 5px;
    text-shadow: 0 0 10px #06f9fb, 0 0 30px #06f9fb, 0 0 80px #06f9fb;
}
@media screen and (max-width: 767px) {
    .QuizWrapper h1 {
        text-align: center;
        font-size: 26px;
        margin-left: 5px;
        text-shadow: 0 0 10px #06f9fb, 0 0 30px #06f9fb, 0 0 80px #06f9fb;
    }
}